/*
 * Ads
 */
.ad-728 {
  float: right;
  width: 728px;
  margin-top: 28px;
}
.ad-728 .widget {
  margin: 0;
}
.widget.acm_ad_zones {
  background-color: transparent;
}
.widget_doubleclick_widget {
  text-align: center;
}

@mobile:      ~"only screen and (max-width: 529px)";
#homepage-triple-widget {
  @media @mobile {
    .span4 {
      margin: 0 auto 12px;
      clear: both;
      padding: 0;
      width: 300px;
      float: none;
    }
  }
}
