/*
 * Ads
 */
.ad-728 {
  float: right;
  width: 728px;
  margin-top: 28px;
}
.ad-728 .widget {
  margin: 0;
}
.widget.acm_ad_zones {
  background-color: transparent;
}
.widget_doubleclick_widget {
  text-align: center;
}
#header-ad-zone-container {
  width: auto;
  float: right;
  height: 134px; // Height of current homepage image, plus its 5px top+bottom margin.
  display: table-cell;
  vertical-align: middle;
  aside {
    padding-right: 0;
    display: inline;
  }
}
@media (max-width: 1200px) {
  .header-ad-zone #header-ad-zone-container {
    display: none;
  }
}


